@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;800&display=swap');
*{
  font-family: 'Montserrat';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #CFF2EC;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.banner{
  max-width: 100%;
  background-color: #89E7D6;
  height: 10  rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.container{
  margin: 0 auto;
}
.banner_heading{
  font-size: 3.5rem;
  font-weight: 800;
 text-transform: uppercase;
 color: #656868;
}
.ip_set{
  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
  color: #046739;
}